<h1 style="font-family:verdana;"> Create a new post </h1>
<br>

<%= form_with model: @post do |form| %>
  <p>
    <%= form.label "title", "Post Title" %>
    <%= form.text_field "title" %>
  </p>

<p>
    <%= form.label "description", "Description" %>
    <%= form.text_field "description" %>
  </p>

    <p>
    <%= form.label "posted_on", "Entry date" %>
    <%= form.date_field "posted_on" %>

    <%= form.hidden_field "place_id" %>
  </p>

  <%= form.submit %>
<% end %>

<br>

<p>
<a href="/places">Back to Places I've Been</a>
</p>